data/Shots
__pycache__
.ipynb_checkpoints
.DS_Store
data/Shots_663
data/Shots_637
data/Shots_663_V
data/Shots_663_ball_traj
data/df_plot_mean.csv
data/df_shots.csv
data/df_stats.csv
data/VR_shots
data/video.avi
data/animation_frames